name: test

on:
  push:
    branches: ["main"]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: |
          cargo test
        env:
          CI: 0
          # Disable CI mode to have insta save snapshots to files.
          # See https://github.com/mitsuhiko/insta/issues/344
      - name: Show snapshots
        run: |
          for file in crates/tgv/src/snapshots/*; do
            echo $file
            cat $file
          done
  # lint:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v4
  #   - name: Format
  #     run: cargo fmt --check
  #   - name: Clippy
  #     run: cargo clippy --
